<div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip">
    <ul class="jq-dropdown-menu">
        <li><a href='/'>Channels</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/algos'>Algorithms</a></li>
        <li style='border-bottom:none'><a href='/contact'>Contact</a></li>
    </ul>
</div> 