<div style='background:#fefefe; height:40px; box-shadow: 0 5px 5px -5px #ddd;'>
    <div style='float:right; margin:8px 20px 0 0;'>
        <a href='#' class='bluebutton' style='font-size:13px;' onclick='openNewChannelForm(); return false;' id='newChannelLink'>New Channel</a>
    </div>
    
    <div style='float:left; margin:10px 10px 0 20px;'>
        <a href='#' data-jq-dropdown="#jq-dropdown-1"><img src='images/hburger.png' style='opacity:0.5' /></a>
    </div>
    
    <h2 style='padding:8px 0 0 10px; font-size:17px; font-weight:700; color:#888; font-family:"Open Sans"; letter-spacing: -1px;'>
        QuickSilver
    </h2>
    <div class='clr'></div>
</div>