<% include header.ejs %>
    <% var pollBoxWidth = 300; %>
    <div style='background:#f7f7f7; margin:0px 20px 0 0; height:1760px; box-shadow: 0 0 5px #ccc; padding:20px 0px 20px 50px;'>
        
        <h1 style='padding-top:5px; margin-bottom:50px;'>New Poll</h1>
        
        <%= pollTitle %>
        
    </div>
<% include footer.ejs %>

 